@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

body{
  background: linear-gradient(45Deg, #00DBDF, #FB00FF);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: white;
  max-width: 350px;
  min-height: 40vh;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 4px 0px;
} 

.container .title h2{
  margin-bottom: 2rem;
  font-weight: 500;
  position: relative;
}

.container .title h2:before{
  content: '';
  position: absolute;
  background: linear-gradient(to right, #00DBDF, #FB00FF, transparent);
  height: 2px;
  width: 25%;
  bottom: 0;
}

.input-field{
  position: relative;
  margin-bottom: 0.8rem;
}

.input-field input{
  font-size: 0.9rem;
  width: 100%;
}


.underline::before{
  content: '';
  position: absolute;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  bottom: -6px;
}

.underline::after{
  content: '';
  position: absolute;
  height: 1px;
  background: linear-gradient(to right, #00DBDF, #FB00FF);
  width: 100%;
  bottom: -6px;
  transform: scaleX(0);
  transform-origin: 0;

  transition: all 1s ease;
}

.input-field input:focus ~ .underline::after{
  transform: scaleX(1)
}

input[type="submit"]{
  width: 100%;
  margin-top: 1rem;
  padding: 0.3rem;
  border-radius: 3px;

  background: linear-gradient(to right, #00DBDF, #FB00FF);
  color: white;

  cursor: pointer;

}

input[type="submit"]:hover{

  animation: leap 0.8s ease 200ms infinite alternate both;
}

@keyframes leap{
  from{
    background: linear-gradient(to right, #00DBDF, #FB00FF);
  }
  to{
    background: linear-gradient(to left, #00DBDF, #FB00FF);
    letter-spacing: 0.5px;
    font-weight: bold;
  }
}

form + .social-field{
  margin-top: 1rem;
} 

.social-field span{
  font-size: 13px;
  color: #333;  
  text-align: center;
}

.social-field{
  margin-top: 0.7rem;
  padding: 0.15rem;
  border-radius: 2px;
}

.social-field a{
  cursor: pointer;  
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.social-field a i{
  margin: 0 0.4rem;
  width: 15px;
}


.social-field .facebook{
  background: linear-gradient(to right, #224edb,#1035b1)
}

.social-field .facebook:hover{
  box-shadow: 0 0 2px 0 #1035b1;
  word-spacing: 1px;
}

.social-field .twitter{
  background: linear-gradient(to right, #52a3e6, #3a96d3)
}

.social-field .twitter:hover{
  box-shadow: 0 0 2px 0 #52a3e6;
  word-spacing: 1px;
}